<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>When</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Event.present.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.when %></td>
        <td><%= event.owner.name %></td>
        <td><%= link_to 'Show', event %></td>
        <% if event.owner == @loggedInUser %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Go To Event!', goto_path(event) %></td>
        <%end%>
        <td><%= "Going: " + (event.users.count == 0 ?  'No one is comming :( ' : event.users.count.to_s) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to @loggedInUser.name, user_path(@loggedInUser) %>
