<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.when %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.owner.name %>
</p>

<p>
  <strong>Going:</strong>
  <ul>
    <% @event.users.each do |u| %>
      <li><%= u.name %></li>
    <%end%>
  </ul>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
